DATABASE_URL="postgresql://username:password@host/database?sslmode=require"
AUTH_SECRET="your_random_secret"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GNEWS_API_KEY="your_gnews_api_key_here"
NEXT_PUBLIC_OPENWEATHER_API_KEY="your_openweather_api_key_here"
